img{
  height: 50%;
  width: 50%;
}
#initially-hidden{
  display: none;
}
.clickable{
  cursor: pointer;
  color:limegreen;
}

.clickable:hover{
  text-decoration: underline;
}

#slide-test{
  display:none;
}

.clickable-about{
  cursor: pointer;
  color:Red;
}

.clickable-about:hover{
  text-decoration: underline;
}
